@{
    ViewBag.Title = "About";
}
<h2>CPE Subscriber Management System</h2>
<h3>A management system for our CVE Monitoring and Alerting software.</h3>

<p>Users that have subscriptions to given CVEs will have their emails present in the SubscriberEmails list in the corresponding CPE entry in the database.</p>
<p>This system allows admins to view and manually update the Subscriptions table.</p>
