@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CPE Subscriber Management</h1>
    <p class="lead">This is a tool for managing active alert subscriptions for a given CPE in our database.</p>
    <p><a href="/Cpes" class="btn btn-primary btn-lg">Manage &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>NVD CPE Search</h2>
        <p>
            This search engine can perform a keyword search, or a CPE Name search.
        </p>
        <p><a class="btn btn-default" href="https://nvd.nist.gov/products/cpe/search">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NVD CPE dictionary</h2>
        <p>(Legacy) The dictionary provides an agreed upon list of official CPE names. The dictionary is provided in XML format and is available to the general public.</p>
        <p><a class="btn btn-default" href="https://nvd.nist.gov/products/cpe">Learn more &raquo;</a></p>
    </div>
</div>